body{
	text-align: center;
}
h2{
	display: inline-block;
	width: 70px;
}

.dark{
	background-color: black;
}
.watch{

  height: 500px;
   width: 500px;
  background-color:  #f5f5f0;
  border-radius: 60%;
  display: inline-block;
  text-align: center;
  padding-top: 200px;

}
button{
	background-color:#003366;
	height: 50px;
	width: 150px;
	color: white;
	border-radius: 34px !important;
	box-shadow: 4px 4px 4px #006666;

}
button:hover{
	background-color: #006666;
}
 #dark{
	width: 230px;
}
h2{
	color: #003366;
	text-shadow: 2px 2px 4px #000000;
	font-size: 40px;
}
h1{color:#996633 !important;
	text-align: center;
}